.idea/
.vscode/*

!.vscode/settings.json
!.vscode/extensions.json

.DS_Store

node_modules/
dist/
coverage/
build/

package-lock.json

.nx/

.env
.env.local
.env.development
.env.test
.env.production

workspaces/

tmp/
